extends ../layouts/application.pug

block header
  = t('views.users.edit.editing')

block content
  +formFor()(action='edit' method='post')
    input(type='hidden' name='_method' value='PATCH')
    +input(user, 'email', t('views.users.edit.email'), errors)(type="text")
    +input(user, 'password', t('views.users.edit.password'), errors)(type="password")
    +submit(user)(value=t('views.users.edit.submit'))
